<div class="background"></div>
<div class="background"></div>

<div class="routerContainer">
    <router-outlet></router-outlet>
</div>

<app-socket-status></app-socket-status>
<app-settings-panel></app-settings-panel>

<div id="orientation-warning" class="q-dialog modal">
    <div class="modal-background"></div>
    <div class="modal-content p-5">
        <div class="card mx-auto px-3 pb-3">
            <div class="card-content">
                <h1 class="title is-size-1 text-900 has-text-centered">
                    <i class="fa fa-undo fa-flip-horizontal"></i>
                </h1>
                <p>
                    Heads up! You can only host games in landscape mode 🙆
                    If you're on a phone, you'll want to cast to a bigger screen so everyone can see 👀
                </p>
                <p class="mt-2 has-text-right">If you're trying to join an existing lobby, go to <a href="/play">/play</a> 😉</p>
            </div>
        </div>
    </div>
</div>