<div class="background"></div>
<div class="background"></div>

<div class="routerContainer">
    <router-outlet></router-outlet>
</div>

<app-socket-status></app-socket-status>
<app-settings-panel></app-settings-panel>

<div id="orientation-warning" class="q-dialog modal">
    <div class="modal-background"></div>
    <div class="modal-content p-5">
        <div class="card mx-auto px-3 pb-3">
            <div class="card-content">
                <p class="title has-text-centered">
                    <i class="fa fa-3x fa-undo fa-flip-horizontal"></i>
                </p>
                <p>
                    Heads up! You can only host games in landscape&nbsp;mode&nbsp;🙆<br>
                    If you're on a phone, you'll want to cast to a bigger screen so everyone can&nbsp;see&nbsp;👀
                </p>
                <p class="mt-2 has-text-right">If you're trying to join an existing lobby,&nbsp;go&nbsp;to&nbsp;<a href="/play">/play</a>&nbsp;😉</p>
            </div>
        </div>
    </div>
</div>