@import '../../../overrides.scss';

#settings {
    display: block;
}

#settings {
    position: fixed;
    color: white;
    top: .5rem;
    right: .05rem;
    max-width: 1rem;
    padding: 2rem 1rem;
    border-radius: .75rem 0 0 .75rem;
    box-shadow: 0 -.5rem rgba(0, 0, 0, .1) inset;
    animation-duration: .3s;
    animation-name: expand-settings;
    animation-play-state: paused;
    transition: all .3s;
    transition-property: max-width, max-height, box-shadow, background-color;
    overflow: hidden;
    background-color: var(--primary);
}

#settings:hover {
    max-width: 50vw;
    max-height: 90vh;
    border: .1rem solid rgba(0, 0, 0, .1);
    box-shadow: 0 -.5rem rgba(0, 0, 0, .1) inset, 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 .1rem rgba(10, 10, 10, 0.02);
    color: rgba(var(--text-rgb), .9);
    background-color: var(--card-bg);
}

#settings>.settings-text {
    position: absolute;
    line-height: 1rem;
    top: 0;
    height: 100%;
    right: 0.5rem;
    opacity: 100%;
    margin-left: auto;
    text-align: center;
    display: inline-block;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transition: opacity .2s;
}

#settings:hover>.settings-text {
    opacity: 0;
}

#settings .content {
    opacity: 0;
    transition: opacity .3s, pointer-events .3s .1s;
    pointer-events: none;
}

#settings:hover .content {
    opacity: 100%;
    pointer-events: all;
}

$switch-width: 4rem;
$switch-height: $switch-width * 0.5;
$switch-slider-indent: $switch-width * 0.05;
$switch-slider-width: $switch-height - ($switch-slider-indent * 2);
$switch-slider-with-indent: $switch-height;
$switch-bg-disabled: #e0e0e0;
$switch-bg-active: lighten($primary--light, 10%);
$switch-slider-bg: #fff;
$switch-border-radius: .6rem;

.switch {
    display: grid;
    grid-template-columns: $switch-width auto;
    grid-gap: -0.25rem;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: $switch-height;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

.switch~.switch {
    margin-top: .5rem;
}

.switch .label-text {
    line-height: $switch-height;
    font-size: $switch-height * .6;
    padding: 0;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-weight: bold;
    width: $switch-width;
    height: $switch-height;
    background-color: $switch-bg-disabled;
    -webkit-border-radius: $switch-border-radius;
    border-radius: $switch-border-radius;
    -webkit-box-shadow: .1rem .2rem .2rem rgb(0 0 0 / 6%);
    box-shadow: .1rem .2rem .2rem rgb(0 0 0 / 6%);
    -webkit-transition: transform .1s ease-in-out, -webkit-transform .1s ease-in-out, background-color .25s ease-in-out;
    transition: transform .1s ease-in-out, -webkit-transform .1s ease-in-out, background-color .25s ease-in-out;
}

.slider:before {
    content: "OFF";
    color: $text--light;
    font-size: $switch-slider-width * 0.52;
    line-height: $switch-slider-width * 1.07;
    position: absolute;
    height: $switch-slider-width;
    width: $switch-slider-width;
    left: $switch-slider-indent;
    bottom: $switch-slider-indent;
    background-color: $switch-slider-bg;
    -webkit-border-radius: calc($switch-border-radius / 1.5);
    border-radius: calc($switch-border-radius / 1.5);
    -webkit-box-shadow: 0 0 .25rem rgba(0, 0, 0, .2);
    box-shadow: 0 0 .25rem rgba(0, 0, 0, .2);
    -webkit-transition: transform .1s ease-in-out, -webkit-transform .1s ease-in-out;
    transition: transform .1s ease-in-out, -webkit-transform .1s ease-in-out;
}

input:checked+.slider {
    background-color: $switch-bg-active;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out, background-color .25s ease-in-out;
}

input:checked+.slider:before {
    -webkit-transform: translateX($switch-width - $switch-slider-with-indent);
    transform: translateX($switch-width - $switch-slider-with-indent);
    content: "ON";
    font-size: $switch-slider-width * 0.65;
}