@import './mixins.scss';

body {
  background-color: var(--bg) !important;
}

a {
  color: var(--link) !important;
}

input,
select {
  background-color: rgba(var(--text-hicon-rgb), .06) !important;
  border-width: 0.15rem !important;
  border-color: rgba(var(--text-rgb), .1) !important;
  color: var(--text) !important;
  box-shadow: inset 0 0.0625em 0.125em rgb(10 10 10 / 5%) !important;
}

input:focus,
select:focus {
  border-color: rgba(var(--text-rgb), .3) !important;
}

.input ~ .icon {
  color:rgba(var(--text-rgb), .5) !important;
}

.input:focus ~ .icon {
  color:rgba(var(--text-rgb), .8) !important;
}

input.is-danger {
  border-color: #f14668;
}

#couch .is-primary {
  background-color: var(--primary);
  color: #fff;
}

#couch .is-secondary {
  background-color: var(--secondary);
  color: #fff;
}

#couch .is-tertiary {
  background-color: var(--tertiary);
  color: #fff;
}

#couch .is-quaternary {
  background-color: var(--quaternary);
  color: #fff;
}

#couch .is-neutral {
  background-color: var(--bg);
  color: var(--text);
}

.card {
  background-color: var(--card-bg);
}

.label,
.card {
  color: var(--text);
}

.title {
  color: var(--text);
}