@import '../../../assets/mixins.scss';

.box {
    display: flex;
    align-items: center;
    justify-items: center;
    height: 100%;
}

.lobby {
    min-height: 90vh;
    padding: 0;
}

.lobby #span-room-code {
    @include stylish-title;
    display: inline-block;
    padding: 0.2rem 1rem 0;
    vertical-align: middle;
    transform: translateY(-.3rem);
    margin-left: 0.7rem !important;
    min-width: 4.5rem;
}

.start-btn {
    &[disabled] {
        cursor: not-allowed;
        filter: blur(.25rem) contrast(50%);

        // background-color: #ddd;
        &:hover {
            filter: blur(.1rem) contrast(60%);
            animation: shake 0.3s;
            animation-iteration-count: 1;
        }
    }

    &:not([disabled]):hover {
        transform: scale(1.2);
    }

    transition: filter .3s, transform .1s
}

.entrant-names {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 2rem;
    gap: .5rem;
}

.entrant-names:empty:after {
    font-size: 1rem;
    min-width: 8rem;
    max-width: 12rem;
    content: "Nobody's here yet... 🤡";
    white-space: nowrap;
}

.entrant-names>div:nth-child(3n-2) {
    background-color: var(--primary);
}

.entrant-names>div:nth-child(3n-1) {
    background-color: var(--secondary);
}

.entrant-names>div:nth-child(3n) {
    background-color: var(--tertiary);
}

@keyframes flexGrow {
    0% {
        flex-grow: 0.00001;
    }

    100% {
        flex-grow: 1;
    }
}

.entrant-names>div {
    color: #eee;
    min-width: calc(max(8rem, 12vw));
    max-width: 12rem;
    position: relative;
    text-align: center;
    padding: .5rem .5rem .5em;
    font-size: 1.4rem;
    font-weight: 600;
    box-shadow: 0 -.5rem rgba(0, 0, 0, .1) inset;
    cursor: auto;
    animation: .2s flexGrow forwards;
    flex-grow: 1;
}

.entrant-names>div:active {
    pointer-events: none;
}

.entrant-names>div:hover,
.entrant-names>div:active,
.entrant-names>div:focus {
    background-color: #111;
    transition: background-color .2s;
    animation: .2s flexGrow forwards, shake 0.65s infinite;
}

.entrant-names>div:hover:after {
    position: absolute;
    line-height: 1rem;
    right: .5rem;
    font-family: "FontAwesome";
    font-weight: 400;
    content: "\f057";
    color: rgba(255 30 50 / 80%);
    pointer-events: all;
    cursor: pointer;
}