$loader-size: 2em;
$check-height: $loader-size/1.7;
$check-width: $check-height/2;
$check-top: .72em;
$check-left: .2em;
$check-thickness: .35em;

.circle-loader {
    font-size: 1rem;
    border: $check-thickness solid rgba(var(--text-rgb), 0.3);
    border-left-color: var(--text);

    &.load-complete {
        border-left-color: rgba(var(--text-rgb), 0.3);
    }

    animation-name: loader-spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.circle-loader,
.circle-loader:after {
    border-radius: 50%;
    width: $loader-size;
    height: $loader-size;
}

.load-complete {
    -webkit-animation: none;
    animation: none;
    border-color: rgba(var(--text-rgb), 0.3);
    transition: border 500ms ease-out;
}

.checkmark {

    &.draw:after {
        animation-duration: 800ms;
        animation-timing-function: ease;
        animation-name: checkmark;
        transform: scaleX(-1) rotate(135deg);
    }

    &:after {
        opacity: 1;
        height: $check-height;
        width: $check-width;
        transform-origin: left top;
        border-right: $check-thickness solid var(--text);
        border-top: $check-thickness solid var(--text);
        content: '';
        left: $check-left;
        top: $check-top;
        position: absolute;
    }
}

@keyframes loader-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }

    20% {
        height: 0;
        width: $check-width;
        opacity: 1;
    }

    40% {
        height: $check-height;
        width: $check-width;
        opacity: 1;
    }

    100% {
        height: $check-height;
        width: $check-width;
        opacity: 1;
    }
}

.pName {
    padding-top: 0.8rem;
}