@mixin stylish-title {
    background-color: darken($primary--light, 12%);
    box-shadow: 0 .3rem darken($primary--light, 16%);
    text-shadow: 0.1rem 0.2rem 0.02rem rgb(0 0 0 / 50%);
    font-weight: 900;
    border-radius: 1rem 2rem;
}

@mixin text-shadow {
    text-shadow: 0.05rem 0.05rem rgb(0 0 0 / 50%);
}


@mixin bg-wavy($position) {
    $grey: #000;
    $navy: #181D65FF;
    $grape: #CD00DE42;
    opacity: 0.04;
    filter: blur(0.04rem);
    background-image: repeating-radial-gradient($position, transparent 0, $grey .48rem), repeating-linear-gradient($grape, $navy);
}

@mixin bg-polka {
    background-color: #E5E5F7;
    opacity: 0.12;
    background-image: radial-gradient(#07f .25rem, transparent .25rem), radial-gradient(#f0a .25rem, white .25rem);
    background-size: 5rem 5rem;
    background-position: 0 0, 2.5rem 2.5rem;
}

@keyframes shake {
    0% { transform: translate(.03rem, .02rem) rotate(0deg); }
    10% { transform: translate(-.05rem, -.1rem) rotate(-1deg); }
    20% { transform: translate(-.12rem, 0rem) rotate(1deg); }
    30% { transform: translate(-.15rem, .1rem) rotate(0deg); }
    40% { transform: translate(.05rem, -.05rem) rotate(1deg); }
    50% { transform: translate(-.05rem, -.1rem) rotate(-1deg); }
    60% { transform: translate(-.15rem, .05rem) rotate(0deg); }
    70% { transform: translate(.05rem, .05rem) rotate(-1deg); }
    80% { transform: translate(-.05rem, -.05rem) rotate(1deg); }
    90% { transform: translate(.05rem, .1rem) rotate(0deg); }
    100% { transform: translate(.02rem, -.1rem) rotate(-1deg); }
  }

  @mixin prompt-title {
    color: var(--bg) !important;
    margin: 0.1rem, 1rem, 0.5rem, 1rem;
    background-color: rgba(var(--text-hicon-rgb), 0.8);
    box-shadow: rgb(0 0 0 / 10%) 0px 0.1rem 0.3rem;
    border-radius: 1.5rem 0.5rem;
    padding: 0rem 1rem;
  }