.voting {
    max-width: 50rem;
}

.qAnswer-card {
    margin: 2rem;
}

.qAnswer-entry:nth-child(odd) .qAnswer-card {
    transform: rotateZ(-4deg);
}

.qAnswer-entry:nth-child(even) {
    transform: rotateZ(4deg);

    & .votes {
        justify-content: end;
    }
}

.qAnswer-card .column {
    z-index: -1;

    & .title {
        color: var(--text);
    }
}

.votes {
    margin-top: -1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 2rem;
    z-index: 999;
}

@keyframes spinIn {
    0% {
        opacity: 0;
        transform: scale(.3) translateY(2rem) rotateZ(1turn);
    }

    100% {
        opacity: 1;
        transform: scale(1) translateY(0rem) rotateZ(0turn);
    }
}

.vote {
    margin: .08rem;
    border-radius: 1rem;
    color: white;

    &>i {
        font-size: 1rem;
    }

    animation: .5s ease-out 0s 1 spinIn;
}

@import '../../../mixins.scss';

.prompt-title {
    @include prompt-title;
    // border-radius: 2.5rem 1.12rem;
    padding: .3rem 1.2rem;
}