.card.player-info-panel {
    position: fixed;
    right: 0;
    top: 0;
    margin: .3rem;
    max-width: 5rem;
    max-height: 3rem;
    overflow: hidden;
    transition-property: max-width, max-height;
    transition-duration: .25s;
    & .hover-info {
        display: none;
    }
}

.player-info-panel:hover {
    position: fixed;
    right: 0;
    top: 0;
    margin: .3rem;
    max-width: 20rem;
    max-height: 20rem;
    & .hover-info {
        display: block;
    }
}

.nametag {
    text-align: center;
    font-size: 0.88rem !important;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.hover-info pre {
    font-size: .7rem;
    color: var(--text);
    background-color: var(--bg);
    border-radius: .5rem;
    padding: .5rem;
    overflow: hidden;
}