<router-outlet #o="outlet"></router-outlet>

<div *ngIf="sio.playerData?.myName != undefined" class="player-info-panel card">
    <div class="nametag px-2 py-1 is-size-6">
        <p>{{sio.playerData?.myName}}</p>
        <p>🪙: {{(sio.playerData?.public?.base?.scores?.[sio.playerData?.myName!]) || 0}}</p>
    </div>
    <div class="hover-info p-3 has-text-centered">
        <pre>{{getConnStatus()}}</pre>
    </div>
</div>

<div #bootedDialog class="q-dialog modal">
    <div class="modal-background"></div>
    <div class="modal-content p-5">
        <div class="card mx-auto px-3">
            <div class="card-content has-text-centered">
                <h1 class="title is-size-1 text-900 has-text-danger">
                    :(
                </h1>
                <p>
                    You have been removed from the game.
                </p>
                <p class="mt-2">You may return to join another game, if you wish.</p>
                <a class="mt-3" href="/join"><button class="button is-neutral mt-3">BACK</button></a>
            </div>
        </div>
    </div>
</div>